/* 상단 : box */
.box {
  display:flex;
  height: 44px;
  position: relative
}
.box > span{
/* Time */
position: absolute;
left: 5.6%;
right: 80%;
top: 15.91%;
bottom: 36.36%;

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px;
/* identical to box height, or 133% */

text-align: center;
letter-spacing: -0.24px;

/* Label / Light / Primary */

color: #000000;
}

/* 우측 상단 와이파이, 배터리 */
.box .nav span:first-child{
  position: absolute;
  width: 17px;
  height: 10.67px;
  right: 64px;
  top: 17.67px;
}

.box .nav span:nth-child(2){
  position: absolute;
  width: 15.33px;
  height: 11px;
  right: 43.67px;
  top: 17.33px;
}
.box .nav span:nth-child(3){
  position: absolute;
  width: 24.33px;
  height: 11.33px;
  right: 14.34px;
  top: 17.33px;
}
